

<template>
    <ul class="chat">
        <div v-for="message in messages">
            <div v-if="userCurr == message.breakout_room_num">
                <li class="left clearfix">
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">
                                {{ message.user.name }}&nbsp&nbsp&nbsp
                                <img :src="message.user.avatar_url" alt="https://www.gravatar.com/avatar/28ba9b596da83d89983db227c381eccf.jpg?s=80&d=mp&r=g">
                            </strong>
                        </div>
                        <p>
                            {{ message.message }}
                        </p>
                    </div>
                </li>
            </div>
        </div>
    </ul>
</template>

<script>
export default {
    props: ['messages', 'userCurr']
};
</script>
